/* @TODO: This is over doing it slef - I need to restrict it to where it's supposed to be */
* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

:root {
  --blackish-color: #6A737C;
  --custom-blue: #63ABED;
  --text-white: #E4E9ED;
  --footer-height: 94px;
}

.app {
  position: relative;
  min-height: 100vh;
  padding-bottom: var(--footer-height);
}

.content-wrap {
  max-width: 800px;
  min-width: 260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.header {
  width: 100%;
  height: 90px;
  padding: 30px 0;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  background-color: var(--blackish-color);
}

div.header .title {
  color: var(--text-white);
  font-size: 26px;
}

.btn {
  padding: 5px 16px;
  display: inline-block;
  /* Default color value */
  color: var(--text-white);
  /* Default backgrond color */
  background-color: var(--custom-blue);
  border: none;
  border-radius: 3px;
  cursor: none;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
}

.btn-link {
  cursor: pointer;
}

.btn-blue {
  background-color: var(--custom-blue);
}

.btn-blue:hover {
  background-color: #409CF2;
}

div.controls {
  display: flex;
  justify-content: center;
}

div.controls button {
  margin-right: 10px;
}


.runkitNotebook-container {
  margin-top: 24px;
  margin-bottom: 90px;
  min-height: 300px;
}

.runkitNotebook.hide {
  display: hidden;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

div.footer {
  background-color: var(--blackish-color);
  color: var(--text-white);
  padding: 30px 0;
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

div.footer div.content-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.source-code-link {
  color: var(--custom-blue)
}
.source-code-link:hover {
  color: #409CF2;
}

.docs {
  display: none;
  z-index: 2;
  position: absolute;
  left: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 10px 15px 20px 15px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.docs.open {
  display: block;
  left: 20%;
}

.evaluate-button {
  display: flex;
  vertical-align: middle;
}

.evaluate-button span {
  margin-right: 5px;
}